body {
    margin: 0;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;                           
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    color: #eeeeee;
    margin: 30px 60px;
    padding: 60px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080001;
    height: 120px;
    width: 155px;
    font-size: 90px;
    color: #F94F6D;
    border-radius: 5px;
}
.sides{
    margin-bottom: 21px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.points{
    display: flex;
    justify-content: space-between;
}
.points-btn{
    background-color: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 2px;
    margin-top: 26px;
    font-size: 18px;
    font-family: inherit;
    padding: 8px;
    text-align: center;
}

#home-points{
    margin-top: 16px;
}

#guest-points{
    margin-top: 16px;
}

.new-game{
    color: #F94F6D;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}